body {
  background-image: linear-gradient(to bottom right, #ba3737, #444444);
}
@font-face {
    font-family: Futura;
    src: url("jack-sherwood.github.io/FuturaPTMedium.otf ") format("opentype");
}

@font-face {
    font-family: Futura;
    font-weight: bold;
    src: url("jack-sherwood.github.io/FuturaPTMedium.otf") format("opentype");
}
